# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/1_styled_component/node_modules
/2_typescript/node_modules
/3_crypto_tracker/node_modules
/4_todo_form/node_modules
/5_dnd_board/node_modules
/6_animations/node_modules
/7_final_nomflix/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
